/**
*** pagination
**/

.navigation-wrap {
	.navigation {
		.pagination {
			gap: 8px;
			justify-content: center;
			align-items: center;
			.page-numbers {
				font-style: normal;
				font-weight: 700;
				font-size: 14px;
				line-height: 20px;
				text-align: center;
				color: #0d99ff;
				font-family: $fontSFProText;
				background: #ffffff; 
				border: 1px solid #0d99ff;
				border-radius: 4px;
				height: 32px;
				width: 32px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
				.arrow-pagination{
					height: 24px;
					width: 24px;
					display: block;
					background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuODQwMDkgNy40MTA5OEwxMi40MjAxIDEyLjAwMUw3Ljg0MDA5IDE2LjU5MUw5LjI1MDA5IDE4LjAwMUwxNS4yNTAxIDEyLjAwMUw5LjI1MDA5IDYuMDAwOThMNy44NDAwOSA3LjQxMDk4WiIgZmlsbD0iIzBEOTlGRiIvPgo8L3N2Zz4K');
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					&.__prev{
						transform: rotate(180deg);
					}
				}
			}
			a{
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
