.wp-block-columns{
    &.boilerplate-row-reverse{
        @media only screen and (max-width: 781px){
            flex-direction: column-reverse;
        }
    }
}
p{
    &.boilerplat-text-opacity{
        opacity: 0.9;
        font-weight: 300;
        font-size: 18px;
        line-height: 140%;
    }
}