$settings: (
        "scoped-name": "boilerplate",
);

//font
$font_primary: 'Sora', sans-serif;
$font_primary_2: 'Inter', sans-serif;
$fontSFProText: 'SF Pro Text', sans-serif;

//color
$primary: #0D99FF;
$secondary: #3C49DC;
$color_body: #000c; 
$white: #FFF;
$black: #000;

// Transition
$transition-base: .3s ease-in-out;

