.accordion {
  border: 1px solid #EAEBED;
  box-shadow: 0 2px 4px rgba(0,0,0,.05);

  .card {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0,0,0,.05);
      margin-bottom: 1px;
    }

    .card-header {
      position: relative;

      .button {
        z-index: 1001;
      }

      &:after {
        @include anti-alias;
        color: $primary-color;
        content: '+';
        font-size: 2em;
        pointer-events: none;
        position: absolute;
        right: 1em;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: .75em;
        z-index: 1000;
      }
    }

    &.expanded .card-header:after {
      content: '-';
    }
  }
}