.category-card {
  border-radius: 3px;
  height: 296px;
  margin-bottom: 1.8em;
  position: relative;

  &--dark {
    background-color: $black;
    color: $white;
  }

  &:not(&--dark) {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10), 0 3px 9px 0 rgba(0,0,0,0.10);
  }

  &__image {
    height: 236px;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &--big {
    height: 336px;
  }

  &--dark .category-card__text {
    background-color: $black;
  }

  &__text {
    align-items: center;
    background-color: $white;
    bottom: 0;
    display: flex;
    font-weight: bold;
    font-size: 1.3em;
    padding: .7em 1em;
    position: absolute;
    text-transform: uppercase;
    width: 100%;

    .button {
      align-items: center;
      background-color: $primary-color;
      display: inline-flex;
      font-size: .7em;
      font-weight: normal;
      justify-content: space-between;
      margin-bottom: 0;
      margin-left: auto;
      padding: .5em .7em;

      svg {
        margin-left: .7em;
        margin-top: -1px;
      }
    }
  }
}

.equipment {
  &-breadcrumbs {
    a {
      color: $primary-color;
    }
  }

  &-search {
    input {
      background: url('/media/images/search.svg') .7em center no-repeat;
      background-size: 1.6em;
      border: 1px solid #D3D7D9;
      border-radius: 3px;
      font-size: 1.2em;
      color: #5F676C;
      line-height: 23.4px;
      padding: 1em 1.5em 1em 2.5em;
      width: 100%;
    }
  }
}

.documentation-list {
  list-style: none;
  padding: 0;

  li {
    border: 1px solid $primary-color;

    &:not(:last-of-type) {
      margin-bottom: .5em;
    }

    a {
      background: url('/media/images/download.svg') calc(100% - 16px) center no-repeat;
      color: $black;
      display: inline-block;
      font-size: .95em;
      padding: .75em 1em;
      width: 100%;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.specifications-table {
  table {
    background: $white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10), 0 3px 9px 0 rgba(0,0,0,0.10);
    border-radius: 2px;
    overflow: hidden;
    width: 100%;

    th {
      font-size: 1.2em;
      padding: .75rem 1.5rem;
    }

    thead {
      background: $black;
      color: $white;
    }

    tbody {
      tr {
        // The following overrides the left/right borders on the bottom border
        border-left: 3em solid $white;
        border-right: 3em solid $white;

        td {
          padding: .75em 0;
        }
      }

      tr:first-of-type td {
        padding-top: 1.5em;
      }

      tr:not(:last-of-type) {
        border-bottom: 1px solid #DEE1E3;
      }

      tr:last-of-type td {
        padding-bottom: 1.5em;
      }
    }
  }
}

.equipment-thumbnails {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  .equipment-thumbnail {
    align-items: center;
    display: flex;
    max-height: 132px;
    object-fit: cover;
    position: relative;
  }

  .equipment-thumbnail.active:after {
    border: 2px solid #1B272E;
    content: '';
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  img {
    max-width: 190px;
  }
}
